<div class="footer-dark" >
    <div style="text-align:center;">
        <h2 class="divider-style" style="margin-top:0px;"><span style="background-color:rgb(40, 45, 50);"><a href="#"><img height="60px" src="assets\img\solair.jpeg"></i></a>&nbsp;Solair AI</span></h2>
    </div>
    <footer>
        <div class="container">
            <div class="row" style="margin-top:20px;">
                <div class="col-md-6 item text" style="margin-bottom:0px;">
                    <h3><a  href="mailto:solairaiworks@gmail.com" >solairaiworks@gmail.com</a></h3>
                    <p>“Never afraid from failure, but from regret of not trying you need to...”<br>take steps or let them happens spontinously...</p>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web developement</a></li>
                        <li><a href="#">android development</a></li>
                        <li><a href="#">data analytics</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Extras</h3>
                    <ul>
                        <li><a href="https://t.me/+Zfm9y4bw-1JhYmE1">join our community</a></li>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSchtez08AK_ukd5uXcq-uhOhpJ-nlmkGM0Ata0WPbPQerRzJA/viewform">Apply for recruitment</a></li>
                        <li><a href="https://api.whatsapp.com/send?phone=+918059901404">contact for partnerships</a></li>
                    </ul>
                </div>
            </div>
          
             
                <form  class="col item social" style="margin-top:10px;" action="/newsletter" class="fm" method="POST" >
                    <input class="form-control-lg" type="email" style="width:200px;height:40px;margin-left:-3px;margin-bottom:11px;margin-top:30px;" name="email"value="Name@email.com">
                    <button class="btn btn-primary" style="width:111px;height:40px;margin-top:-8px;" type="submit">SUBSCRIBE</button>
                    <h1 style="font-size:1rem;">Weekly Newsletter</h1>  </form>
                
           
            <div class="col item social" style="margin-top:15px;"><a href="https://www.facebook.com/niteshsinwarofficial"><i class="fa fa-facebook"></i></a><a href="https://www.instagram.com/solairai_official/"><i class="icon ion-social-instagram"></i></a><a href="https://github.com/niteshsinwar"><i class="icon ion-social-github"></i></a><a href="https://www.linkedin.com/company/solair-ai/mycompany/?viewAsMember=true"><i class="icon ion-social-linkedin"></i></a></div>
            <div style="text-align:center;margin-top:-40px;">
                <h2 class="divider-style"></h2>
            </div>
            <p class="copyright">Solair AI © 2022</p>
        </div>
    </footer>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="assets/js/Animated-Type-Heading.js"></script>
<script src="assets/js/responsive-blog-card-slider-1.js"></script>
<script src="assets/js/responsive-blog-card-slider.js"></script>
<script src="assets/js/WOWSlider-about-us.js"></script>

</body>

</html>