<%- include("partials/header"); -%>
    <h1 class="display-3 text-uppercase" style="padding-right: 10px;padding-bottom: 10px;text-align: center;">about us</h1>
    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img"><img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg"></div>
                <div class="blog-slider__content"><span class="blog-slider__code">About our founder</span>
                    <div class="blog-slider__title">
                        <p style="color: rgb(121, 101, 101);">Nitesh sinwar</p>
                    </div>
                    <div class="blog-slider__text">
                        <p style="color: black;">Pursuing B.tech CSE along with Specilazation in Data Science with upGrad. A passionate Software Developer And core member in Reputated Organizations like gfg and gdsc</p>
                    </div><a class="blog-slider__button" href="https://www.linkedin.com/in/nitesh-sinwar-7a87001b7">Linkedin</a>
                </div>
            </div>
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img"><img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg"></div>
                <div class="blog-slider__content"><span class="blog-slider__code">About our community</span>
                    <div class="blog-slider__title">
                        <p style="color: rgb(121, 101, 101);">Solair AI EdTech Community</p>
                    </div>
                    <div class="blog-slider__text">
                        <p style="color: black;" >Initiative by Solair Ai to Enhance and growth of awareness of technical education among college students</p>
                    </div><a class="blog-slider__button" href="https://t.me/+Zfm9y4bw-1JhYmE1">Join our community</a>
                </div>
            </div>
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img"><img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg"></div>
                <div class="blog-slider__content"><span class="blog-slider__code">About our Startup</span>
                    <div class="blog-slider__title">
                        <p style="color: rgb(121, 101, 101);">work culture</p>
                    </div>
                    <div class="blog-slider__text">
                        <p style="color: black;">We provide software-on-demand as products for organizational use and provide technical services such as maintainace, updation and modification.
                            where priority is given to Quality always.
                        </p>
                    </div><a class="blog-slider__button" href="https://github.com/niteshsinwar">Check our Github</a>
                </div>
            </div>
        </div>
        <div class="blog-slider__pagination"></div>
    </div>
    <%- include("partials/footer"); -%>