
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Solair AI</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/discuss.css">
    <link rel="icon" href="assets/favicon.ico">
    </head>
    <body> 
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header"><img height="60px" src="assets\img\solair.jpeg">
            <p class="navbar-brand">Powered by Solair AI</p>
          </div>
            <ul class="nav navbar-nav navbar-right">
               <li id="contact"><a type="button" value="go back!" onclick="history.go(-1)">Go back</a></li>
              <li id="contact"><a href="/home">Home</a></li>
            </ul>
        </div>
      </nav>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>write your message</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary col-sm-12" type="submit" name="button">Send the message</button>
    </form>
</body>
</html>

