<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Solair AI</title>
    <link rel="stylesheet" href="U-asset/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="U-asset/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="U-asset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="U-asset/fonts/fontawesome5-overrides.min.css">
    <link rel="icon" href="assets/favicon.ico">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon"><img height="60px" src="assets\img\solair.jpeg"></div>
                    <div class="sidebar-brand-text mx-3"><span>SOlair AI</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link " href="user"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="discuss"><i class="fas fa-table"></i><span>Forum</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="logout"><i class="far fa-user-circle"></i><span>Logout</span></a></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                       
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="nav-link"><span class="d-none d-lg-inline me-2 text-gray-600 small"><%=USER%> </span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Discussion forum</h3>
                    <div class="card shadow">
                        <div class="card-header py-3"></div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>message</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  posts.forEach(function callback(post , index){ %>
                                            <tr>
                                                <td><%=post.title%></td>
                                                <td>   <%=post.content%></td>
                                                <td>   <form action="/delete" method="post"> 
                                                    <button class="btn-outline-danger" type="submit" value="<%=post._id%>" name="index">delete this message</button>
                                                </form></td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Solair AI © 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="/compose"><i class="fas">+</i></a>
    </div>
    <script src="U-asset/bootstrap/js/bootstrap.min.js"></script>
    <script src="U-asset/js/bs-init.js"></script>
    <script src="U-asset/js/theme.js"></script>
</body>

</html>