<%- include("partials/header"); -%>
    <section id="services" class="services">
        <div class="container-md section-title">
            <div class="text-center">
                <h2 style="color: #75aadb;">We Offer Awesome<span style="color: #d12d33;"><strong>&nbsp;Services</strong></span></h2>
                <p class="d-inline-block" style="width: 50%;"><strong>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</strong><br>&nbsp; &nbsp;&nbsp;</p>
            </div>
            <div class="row">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-dribbble" style="margin-bottom: 15px;"></i>
                            <h4 class="title">App Development Services<a href="#"></a></h4>
                            <p class="description">We provide assistance in development, maintainace and updation of android apps in java, kotlin, flutter</li></ul>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-renren" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Web Development Services<a href="#"></a></h4>
                            <p class="description">In web development, We provide our assistance in MERN/MEAN, PHP with sql, Django with laravel<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-codepen" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Data Analytics Services<a href="#"></a></h4>
                            <p class="description">We Provide data Visualization, data handling and help to forming buisness Strategies on the basis of data.<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-telegram" style="margin-bottom: 15px;"></i>
                            <h4 class="title">EdTech Community<a href="#"></a></h4>
                            <p class="description">A coomunity designed for students, learner and developers who want to enhance their technical background and to connect with peers, seniors and mentors<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer"); -%>